*
!.gitignore
!README.md

!tmux/
!tmux/**

!nvim/
!nvim/**

!zsh/
!zsh/**
zsh/.zcompdump*
zsh/.zshenv
zsh/.zshenv
zsh/.zsh_history

!ghostty/
!ghostty/**

!nushell/
!nushell/**
nushell/env.nu
nushell/history.txt

!starship/
!starship/**

!ortholinear/
!ortholinear/**

/.worktrees
