layout {
    tab {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane command="nvim" {
                    args "."
                    name "neovim"
                }
                pane command="lazygit" {
                    name "lazygit"
                }
            }
            pane split_direction="horizontal" {
                pane command="claude" {
                    name "claude"
                }
                pane name="terminal"
            }
        }
    }
}
